.fileupload-ctrl {
  cursor: pointer;
}
.fileupload-ctrl input{
  text-indent: -9999px;
  display: none
} 
.chat-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 8px;
  padding: 15px;
  background-color: #ecf5ff;
  font-family: Arial;
  font-size: 12px;
  line-height: 21px;
}

.chat-history {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 400px;
  margin-bottom: 16px;
  border-radius: 4px;
  padding: 8px;
  
}

.chat-message {
  margin-bottom: 12px;
}

.user-message {
  max-width: 80%; 
  float: left;
  margin-bottom: 8px;  
  clear: both;
}
.user-name {
  font-size: 10px;
  text-transform: uppercase;
  color: #555555;
}
.user-message .chat {
  padding: 8px 15px;
  border-radius: 5px;
  color: rgb(38, 38, 38);
  background: #ebebeb;
}

.response-message {
  max-width: 80%;  
  float: right;
  margin-bottom: 8px; 
  clear: both;
}
.response-message .chat{
  color: rgb(38, 38, 38);
  background: #ece9fb;
  padding: 8px 15px;
  border-radius: 5px;
}
.chat-form {
  display: flex;
  gap: 8px;
}

.chat-form input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-form button {
  padding: 8px 16px;
  border: none;
  background-color: #003d7f;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.chat-form button:hover {
  background-color: #0056b3;
}
.plus-icon svg {
  width: 16px;
  height: 16px;
  fill: #003d7f;
  margin-top: 8px;
}